.mainImgMenu {
    position: relative;
    left: 80rem;
    border-radius: 0.7rem;
    -webkit-border-radius: 0.7rem;
    -moz-border-radius: 0.7rem;
    -ms-border-radius: 0.7rem;
    -o-border-radius: 0.7rem;
}

#menuName {
    font-size: 2.4rem;
    margin-bottom: -4.3rem;
    margin-top: 0rem;
}

.South {
    position: relative;
    top: 9rem;
}

.menu {
    position: relative;
    left: -3.5rem;
}

.menuTitle {
    padding-left: 2rem;
    color: #FFAB00;
    font-family: 'Train One',
        cursive;
}

.MenuBack {
    background-color: black;
    border-radius: 1.3rem;
    -webkit-border-radius: 1.3rem;
    -moz-border-radius: 1.3rem;
    -ms-border-radius: 1.3rem;
    -o-border-radius: 1.3rem;
    position: relative;
    top: -9.5rem;
    left: 5rem;
    width: 28rem;
    height: 6rem;
}

.menuSeprateTitle {
    z-index: 4;
    color: white;
    font-size: 2rem;
    top: 1rem;
    position: relative;
    padding: 0rem 0rem 2rem 0rem;
    margin-left: 10rem;
}

#price {
    color: rgba(148, 138, 138, 0.945);
    top: -3rem;
    position: relative;
    padding: 0rem 0rem 0rem 0rem;
    margin-left: 10rem;
}

.menuImg {
    border-radius: 1.3rem;
    -webkit-border-radius: 1.3rem;
    -moz-border-radius: 1.3rem;
    -ms-border-radius: 1.3rem;
    -o-border-radius: 1.3rem;
    margin: 4rem 0rem 0rem 0rem;
    left: 4rem;
    z-index: 2;
    position: relative;


}

.AllMenu {
    display: grid;
    grid-template-columns: 32rem 32rem 32rem;
    grid-template-rows: 8rem 8rem 8rem;
}
@media only screen and (max-device-width: 480px) {
  .menuTitle {
      padding-left: 2rem;
      color: #FFAB00;
      font-family: 'Train One',
          cursive;

  }
  #menuName {
      font-size: 3rem;
      margin-bottom: -4.3rem;
      margin-top: 0rem;
  }
  .AllMenu {
display:inline-block;
position: relative;
    column-count: 2;


  margin-left: 10rem;


  }
  .MenuBack {

      background-color: black;
      border-radius: 1.3rem;
      -webkit-border-radius: 1.3rem;
      -moz-border-radius: 1.3rem;
      -ms-border-radius: 1.3rem;
      -o-border-radius: 1.3rem;
      position: relative;
      top: -9.5rem;
      left: 5rem;
      width: 35rem;
      height: 8rem;
  }
  .menu {

      position: relative;
      left: -3.5rem;
  }
  .menuSeprateTitle {
      z-index: 4;
      color: white;
      font-size: 3rem;
      top: 1rem;
      position: relative;
      padding: 0rem 0rem 2rem 0rem;
      margin-left: 10rem;
  }
  #price {
      color: rgba(148, 138, 138, 0.945);
      top: -3rem;
      position: relative;
      padding: 0rem 0rem 0rem 0rem;
      margin-left: 10rem;
      font-size: 1.5rem;
  }
}
