.table{
  width: 70%;
  margin-left: 15rem;
  margin-top: 5rem;
}


.container .btn {
  position: absolute;
  top: 20%;
  left: 30%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #FEC80E;
  color: black;
  font-weight: bolder;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  border-radius: 2rem;
}

.container .btnn {
  position: absolute;
  top: 80%;
  left: 30%;

  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #FEC80E;
  color: black;
  font-weight: bolder;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  border-radius: 2rem;
}
@media only screen and (max-device-width: 480px) {
  .table{
    width:25rem;
    height: 12rem;
    margin-left: 0rem;
    margin-top: 3rem;
  }
  .container .btn {
    position: absolute;
    top: 5%;
    left: 30%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #FEC80E;
    color: black;
    font-weight: bolder;
    font-size: 10px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    border-radius: 2rem;
  }
  .container .btnn {
    position: absolute;
    top: 50%;
    left: 30%;

    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #FEC80E;
    color: black;
    font-weight: bolder;
    font-size: 10px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    border-radius: 2rem;
  }
}
