.foot {
    background-color: rgb(255, 196, 2);
    width: 100%;
    padding: 3rem 0rem 3rem 0rem;
}

.footlogo {
    z-index: 3;
    margin-left: 43rem;
    position: relative;
    margin-top: -6rem;

}
@media only screen and (max-device-width: 480px) {
  .foot {
      background-color: rgb(255, 196, 2);
      width: 275%;
      padding: 3rem 0rem 3rem 0rem;
  }
  .footlogo {
      z-index: 3;
      margin-left: 30rem;
      position: relative;
      margin-top: -6rem;

  }

}
