.aboutName {
    position: relative;
    color: #FFAB00;
    margin-left: 55rem;
    z-index: 4;
    font-size: 4rem;
    top: 6rem;
    font-family: 'jamscript';
    animation: 1s ease-out 0s 1 slideInLeft;
}

.aboutimg {
    position: absolute;
}

.aboutpara {
    position: relative;
    color: white;
    z-index: 4;
    font-size: 1.4rem;
    top: 2rem;
    text-align: right;
    justify-content: center;
    padding: 3rem 3rem 3rem 30rem;
    font-family: 'Ubuntu',
        sans-serif;
}

@keyframes slideInLeft {
    0% {
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
    }

    100% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }
}