.cat {
    position: absolute;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    z-index: 7;
}

.cat:hover {
    z-index: 0;
}

.categorySec {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 3rem;
    margin-top: -10rem;

}

.category {
    margin: 0rem 11rem 20rem 0rem;
}

.Catname {
    position: relative;
    color: white;
    font-family: 'Train One',
        cursive;
    font-size: 2rem;
    top: 16rem;
    left: 2rem;
}

.Catname:hover {
    z-index: 6;
    position: relative;
    color: white;
    font-family: 'Train One',
        cursive;
    font-size: 2rem;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Train+One&display=swap');
@media only screen and (max-device-width: 480px) {
.categorySec{
  display: block;

  grid-template-columns: auto auto auto auto;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 3rem;
  margin-top: -10rem;
}
.category{
margin-left: 12rem;
margin-bottom: 30rem;
}
.cat{
  position: absolute;
  border-radius: 2rem;
width: 40rem;


  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  z-index: 7;
}
}
