.homeimg {
    height: 35rem;
    top: 9rem;
    background-size: cover;
    margin-top: 3rem;
}

figCaption {
    position: relative;
    top: -30rem;
    color: white;
    font-size: 3.5em;
    left: 0%;
    right: 3%;
    font-family: 'jamscript';
    z-index: 4;
    margin: 0%;
    padding: 0%;
}
@media only screen and (max-device-width: 480px) {
.homeimg {
  height: 35rem;
  width: 70rem;
  top: 9rem;
  background-size: cover;
  margin-top: 3rem;
}
}
